<div>
    <br>
    <h6 class = "contest_rules">Contest Rules</h6>
    <br>
    <br>
    <h6 class = "materials_info">Materials</h6>
    <div class = "materials">
        During the contest, students will be permitted to use writing utensils such as pencils and scratch paper.
       Standard calculators are permitted for use, but programmable calculators are not.  The use of cellular phones
       and the internet is not allowed during the contest.  Cell phone or internet use by any team member will results in 
       an immediate disqualification of that person's entire team.     
    </div>
    <br>
    <h6 class = "computer_info">Computer</h6>
    <div class = "computer">
      If you do not have a laptop, your team will be assigned to a pc during the contest. 
        No computer storage media or devices will be allowed in the computer lab (Please contact a judge before 
        the contest if you need to bring a storage device due to certain circumstances). All code must be entered using a computer.
    </div>
    <br>
    <h6 class = "problems_info">Problems</h6>
    <div class = "problems">
      When the contest begins, each team will be given seven programming problems to solve. Team members may
        work on these problems in any order or manner they choose. There will be exactly two and a half hours
        to work out solutions.
    </div>
    <br>
    <h6 class = "testing_info">Testing</h6>
    <div class = "testing">
      Each team may run their programs using their own test data as many times as they wish.
        Test programs very carefully prior to submission.
    </div>
    <br>
    <h6 class = "judge_info">Judging of Programs</h6>
    <div class = "judge">
        Judging of submitted programs will be done on the spot. Judges will run students code as the teams 
        finish each problem. judges will test programs to determine whether if the program work correctly/incorrectly.

    </div>
    <br>
    <h6 class = "standings_info">Standings</h6>
    <div class = "standings">
      Teams will be ranked according to the number of problems they complete correctly. For example, 
        a team that answered 7 problems correctly will finish ahead of a team that answered 
     6 probelms correctly. Tiebreakers will be settled based on accumulated time.  
    </div>
    <br>
    <h6 class = "prize_info">Prizes</h6>
    <div class = "prize">
      Winners will be awarded after lunch.
    </div>
    <br>
  </div>