<div>
    <br>
    <br>
    <h6 class = "contest_rules"><b>CONTEST RULES</b></h6>
    <br>
    <br>
    <h6 class = "materials_info"><b>MATERIALS</b></h6>
    <div class = "materials">
        <b>DURING THE CONTEST, STUDENTS WILL BE PERMITTED TO USE WRITING UTENSILS SUCH AS PENCILS AND SCRATCH PAPER.
       STANDARD CALCULATORS ARE PERMITTED FOR USE, BUT PROGRAMMABLE CALCULATORS ARE NOT.  THE USE OF CELLULAR PHONES
       AND THE INTERNET IS NOT ALLOWED DURING THE CONTEST.  CELL PHONE OR INTERNET USE BY ANY TEAM MEMBER WILL RESULT
       IN AN IMMEDIATE DISQUALIFICATION OF THAT PERSON'S ENTIRE TEAM.  
        </b>   
    </div>
    <br>
    <h6 class = "computer_info"><b>COMPUTER</b></h6>
    <div class = "computer">
      <b>IF YOU DO NOT HAVE A LAPTOP, YOUR TEAM WILL BE ASSIGNED TO A PC DURING THE CONTEST. 
        NO COMPUTER STORAGE MEDIA OR DEVICES WILL BE ALLOWED IN THE COMPUTER LAB (PLEASE CONTACT A JUDGE BEFORE 
        THE CONTEST IF YOU NEED TO BRING A STORAGE DEVICE DUE TO CERTAIN CIRCUMSTANCES). ALL CODE MUST BE ENTERED 
        USING A COMPUTER.
      </b>
    </div>
    <br>
    <h6 class = "problems_info"><b>PROBLEMS</b></h6>
    <div class = "problems">
      <b>WHEN THE CONTEST BEGINS, EACH TEAM WILL BE GIVEN SEVEN PROGRAMMING PROBLEMS TO SOLVE. TEAM MEMBERS MAY
        WORK ON THESE PROBLEMS IN ANY ORDER OR MANNER THEY CHOOSE. THERE WILL BE EXACTLY TWO AND A HALF HOUSE TO WORK
        OUT SOLUTIONS.
      </b>
    </div>
    <br>
    <h6 class = "testing_info"><b>TESTING</b></h6>
    <div class = "testing">
      <b>EACH TEAM MAY RUN THIER PROGRAMS USING USING THEIR OWN TEST DATA AS MANY TIMES AS THEY WISH.
        TEST PROGRAMS VERY CAREFULLY PRIOR TO SUBMISSION.
      </b>
    </div>
    <br>
    <h6 class = "judge_info"><b>JUDGING OF PROGRAMS</b></h6>
    <div class = "judge">
      <b>JUDGING OF SUBMITTED PROGRAMS WILL BE DONE ON THE SPOT. JUDGES WILL RUN STUDENTS CODE AS THE 
        TEAMS FINISH EACH PROBLEM. JUDGES WILL TEST PROGRAMS TO DETERMINE WHETHER IF THE PROGRAM WORKS
        CORRECTLY/INCORRECTLY. 
      </b>
    </div>
    <br>
    <h6 class = "standings_info"><b>STANDINGS</b></h6>
    <div class = "standings">
      <b>TEAMS WILL BE RANKED ACCORING TO THE NUMBER OF PROBLEMS THEY COMPLETE CORRECTLY.
        FOR EXAMPLE, A TEAM THAT ANSWERED 7 PROBLEMS CORRECTLY WILL FINISH AHEAD OF A TEAM THAT ANSWERED
        6 PROBLEMS CORRECTLY. TIEBREAKERS WILL BE SETTLED BASED UPON ACCUMULATED TIME.  FOR EXAMPLE, A TEAM 
        THAT ANSWERED 6 QUESTIONS CORRECTLY IN TWO HOURS WILL FINISH AHEAD OF A TEAM THAT ANSWERED 6 
        QUESTIONS CORRECTLY IN TWO AND A HALF HOURS.
      </b>
    </div>
    <br>
    <h6 class = "prize_info"><b>PRIZES</b></h6>
    <div class = "prize">
      <b>WINNERS WILL BE AWARDED AFTER LUNCH.</b>
    </div>
    <br>
  </div>
