.about_page {
  border: .625rem outset yellow;
  background-color: rgb(52, 152, 219);    
  text-align: center;
}

.tech-slideshow {
  height: 8.4rem;
  max-width: 48.125rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 12.4rem;
  width: 157.875rem;
  background: url(../../assets/images/wu_collage_final.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 0rem;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

h1.programming_intro {
  text-align: center;
  text-size-adjust: 1.5625rem;
}

h2.date {
  text-align: center;
  font-size: 1.25rem;
}

h6.contest_rules, .schedule {
  text-align: center;
  font-size: 1.25rem;
}

h6.prizes, .contest_winners {
  text-align: center;
  font-size: 1.25rem;
  color: crimson;
}

h6.third_prize, .third_place {
  text-align: center;
  font-size: 1.25rem;
  color:blueviolet;
}

h4.first_prize, .first_place {
  text-align: center;
  font-size: 1.25rem;
  color:darkgreen;
}

h5.second_prize, .second_place {
  text-align: center;
  font-size: 1.25rem;
  color:darkgoldenrod;
}

h6.lunch, .winning_team, .more_contest_rules, .orientation, .registration {
  text-align: center;
  font-size: .9375rem;
}

h6.materials_info, .computer_info, .problems_info, .testing_info, .judge_info, .standings_info, .prize_info {
  text-align: left;
  font-size: .9375rem;
}

.tech-slideshow {
    height: 235px;
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(../../assets/images/wu_final.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 0px;
    animation: moveSlideshow 15s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }

  h1.programming_intro {
    text-align: center;
    text-size-adjust: 1.5625rem;
}

h2.date {
    text-align: center;
    font-size: 1.25rem;
}

h6.contest_rules, .schedule {
    text-align: center;
    font-size: 1.25rem;
}

h6.prizes, .contest_winners {
    text-align: center;
    font-size: 1.25rem;
    color: crimson;
}

h6.third_prize, .third_place {
    text-align: center;
    font-size: 1.25rem;
    color:blueviolet;
}

h4.first_prize, .first_place {
    text-align: center;
    font-size: 1.25rem;
    color:darkgreen;
}

h5.second_prize, .second_place {
    text-align: center;
    font-size: 1.25rem;
    color:darkgoldenrod;
}

h6.lunch, .winning_team, .more_contest_rules, .orientation, .registration {
    text-align: center;
    font-size: .9375rem;
}

h6.materials_info, .computer_info, .problems_info, .testing_info, .judge_info, .standings_info, .prize_info {
    text-align: left;
    font-size: .9375rem;
}

.h2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.center, .align {
    display: block;
    margin-left: 30rem;
    margin-right: 30rem;
}

div.computer, .materials, .problems, .testing, .judge, .standings, .prize {
    text-align: left;
}

.tech-slideshow {
  height: 235px;
  max-width: 770px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 500px;
  width: 2526px;
  background: url(../../assets/images/final_WU4.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 0px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

h1.programming_intro {
  text-align: center;
  text-size-adjust: 1.5625rem;
}

h2.date {
  text-align: center;
  font-size: 1.25rem;
}

h6.contest_rules, .schedule {
  text-align: center;
  font-size: 1.25rem;
}

h6.prizes, .contest_winners {
  text-align: center;
  font-size: 1.25rem;
  color: crimson;
}

h6.third_prize, .third_place {
  text-align: center;
  font-size: 1.25rem;
  color:blueviolet;
}

h4.first_prize, .first_place {
  text-align: center;
  font-size: 1.25rem;
  color:darkgreen;
}

h5.second_prize, .second_place {
  text-align: center;
  font-size: 1.25rem;
  color:darkgoldenrod;
}

h6.lunch, .winning_team, .more_contest_rules, .orientation, .registration {
  text-align: center;
  font-size: .9375rem;
}

h6.materials_info, .computer_info, .problems_info, .testing_info, .judge_info, .standings_info, .prize_info {
  text-align: left;
  font-size: .9375rem;
}

.h2 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.center, .align {
  display: block;
  margin-left: 30rem;
  margin-right: 30rem;
}

div.computer, .materials, .problems, .testing, .judge, .standings, .prize {
  text-align: left;
}