<div>
  <br>
  <br>
  <br>
  <h1 class="programming_intro">
  <b>The Fifteenth (15th) Annual High School Programming Contest</b>
  </h1>
  <br>
  <br>
  <br>
  <div class="tech-slideshow">
    <div class="mover-1"></div>
    <div class="mover-2"></div>
  </div>
  <br>
  <br>
  <br>
  <h2 class="date">
    <b>Friday, April 2nd, 2021</b>
  </h2>
  <br>
  <h3>
        Widener University invites high school students (grades 9-12) to participate in a two and a half 
        hour programming contest. The Widener University programming contest is an annual tradition
        where high school students diplay their programming skills and problem solving abilities. 
        Teams of two or three students compete to achieve the highest score possible based upon 
        randomly generated software questions. Time and efficiency are two critical factors in determing your 
        final score so please keep this in mind throughout the contest.   
        Best of luck to all participating teams!
  </h3>
  <br>
  <h6 class = "prizes">Prizes:</h6>
  <br>
  <h4 class ="first_prize">First Prize = 300 Dollars + Trophy </h4>
  <h5 class = "second_prize">Second Prize = 200 Dollars + Trophy </h5>
  <h6 class = "third_prize" style="color: blueviolet">Third Prize = 100 Dollars + Trophy</h6>
  <br>
  <br>
  <h6 class = "contest_winners">2020 Contest Winners:</h6>
  <br>
  <h4 class = "first_place">First Prize: A team from Garnet Valley High School, PA</h4>
  <h5 class = "second_place">Second Prize: A team from Chichester High School, PA</h5>
  <h6 class = "third_place" style="color: blueviolet">Third Prize: A team from Sun Valley High School, PA</h6>
  <br>
  <br>
  <h6 class = "schedule">Schedule:</h6>
  <br>
  <h6 class = "registration">Registration & Breakfast (free): 8:30 - 9:00 A.M. (Alimuni Auditorium)</h6>
  <h6 class = "orientation">Orientation Meeting: 9:00 - 9:30 A.M. (Alimuni Auditorium)</h6>
  <h6 class = "more_contest_rules">Contest: 9:45 A.M. - 12:15 P.M. (Freedom Hall Third Floor)</h6>
  <h6 class = "lunch">Lunch (free): 12:30 P.M. - 1:15 P.M. (University Center Cafeteria)</h6>
  <h6 class = "winning_team">Announcement of Winners: 1:30 P.M. - 2:15 P.M. (Alimuni Auditorium)</h6>
  <br>
  <br>
</div>