<div>
  <h1><b>About Us!</b></h1>
  <div class="about_page">
    <h2><b>Welcome to Widener's Programming Contest!</b></h2>
    <p><b>See the attached qualifications below</b></p>
  </div>
  <br>
  <br>
  <br>
  <img src="../../assets/images/wu_logo.jpg" style="margin:auto; width:430px; height:105px; display:block" alt="File not found" >
  <br>
  <br>
  <br>
  <img src="../../assets/images/freedom_hall.jpg" style="margin:auto; width: 370px; height:95px; display:block" alt="File not found" >
  <br>
  <p>
	      Widener's programming competition is an annual tradition 
        where high school students compete to achieve the highest
        score possible based upon randomly generated software/programming questions.   
        Students assemble teams and have the ability to answer the 
        questions as a group.  Answering the questions as quickly and
        efficiently as possible will be factored into the scoring process.
        This is important to keep in mind as the competition begins so you may pace 
        your group to stay on appropriate time intervals.   
        Best of luck to all participating teams!
  </p>
</div>