<div>

    <form #scoresForm="ngForm" (ngSubmit)="submitScores(scoresForm)" novalidate>

      <h1>Calculate Scores</h1>
      <br>
      <div class="start">
        <label for="start">Select the competition start time: </label>
        <input required type="time" id="start" name="start" #start="ngModel" ngModel>
      </div>

       <h2>Question {{ questionNum }}</h2>
        <div class="qTime">
            <label for="qTime">Select time question submitted: </label>
            <input type="time" id="qTime" name="qTime" #qTime="ngModel" ngModel>
       </div>

       <br>
        <button mat-button class="mat-raised-button" color="primary"
        [disabled]="scoresForm.form.invalid" type="submit">Input Question</button>

        <h3>Score: {{ score }}</h3>
        <br>

        <table>
          <tr>
            <th>Questions Submitted</th>
            <th>Current Score</th>
            <th>Submission Time</th>
          </tr>
          <tr *ngFor="let sc of scoreArray; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ sc }}</td>
            <td>{{ submissionTimes[i] }}</td>
          </tr>
        </table>

        
    </form>
</div>
