<div>
    <form  #createAccountForm="ngForm" (ngSubmit)="createAccount(createAccountForm)" novalidate>

        <h1>Create an account</h1>
        <br>
        <h3>Email</h3>
        <mat-form-field hideRequiredMarker appearance="outline" color="accent">
            <mat-label>
                Enter email here
            </mat-label>
            <input matInput type="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" #email="ngModel" name="email" ngModel>
        </mat-form-field>
        <br>
        <small [hidden]="email.valid || email.untouched">Valid email not entered</small>
        <br>
        <br>
        <h3>Password</h3>
        <mat-form-field hideRequiredMarker appearance="outline" color="accent">
            <mat-label>
                Enter password here
            </mat-label>
            <input matInput type="password" required pattern=".{6,}" #pass="ngModel" name="passWord" ngModel>
        </mat-form-field>
        <br>
        <small [hidden]="pass.valid || pass.untouched">Password must be six or more characters</small>
        <br>
        <br>
        <button mat-button class="mat-raised-button" color="primary" 
        [disabled]="createAccountForm.form.invalid" type="submit">Create Account</button>

    </form>
</div>
