.page-background {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

.page-background::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("C:\Users\MarkS\Desktop/Widener.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    
    opacity: .5;
}

p {
    color: black;
}



