<mat-toolbar color = "primary" class = "navbar">

    <div class="insideNavbar">Widener Programming Contest</div>
    <div class="insideNavbar">
        <a routerLink="">Home</a>
        <a *ngIf="!isSignedIn" routerLink="/sign-in">Sign In</a>
        <a *ngIf="!isSignedIn" routerLink="/create-account">Create Account</a>
        <a routerLink="/about">About</a>
        <a *ngIf="isSignedIn" routerLink="/create-questions">Create Questions</a>
        <a *ngIf="isSignedIn" href="" (click)="logout()">Logout</a>
    </div>
</mat-toolbar>

<router-outlet (activate)="ngOnInit()"></router-outlet>

