.page-background {
    position: relative;
    z-index: 1;
}

.page-background::before {
    content: "";
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("../assets/images/Widener.jpg");
    /* background-color: blue; */
    opacity: .25;
    background-repeat: no-repeat;
    background-size: 100%;
}

