.navbar {
    justify-content: space-between;
}

.insideNavbar {
    padding: 0rem;
}

a {
    padding-right: 1rem;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: violet;
}

div {
    padding: 1rem;
}