<title>Home Page</title>

<div class="page-background" >
    <div>

    </div>
    <h1>Programming Competition Senior Project</h1>
    <br>
    <h2>Mark Simunov, Hayley Bonhage, Tim Campbell</h2>

    <p>This is a test page for the programming competition home page.
        This is a temporary page to be used as a proof of concept.
        It will be updated to look more like the actual page of the site 
        when we gain more familiarity with HTML, CSS, and TypeScript and 
        how they all interact with one another.
    </p>

    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>
    <p>Test change</p>

</div>




