<div>
    <h1>Choose which set of questions you want to answer</h1>

    <!-- <div *ngFor='let set of [].constructor(questionsAmount); let i = index'>
        {{i}}
        <br>
        <p *ngFor='let subset of [].constructor(questionSets[i]?.length); let j = index'>
            {{questionSets[i][j].question}}
        </p>
    </div> -->

    <div *ngFor='let set of questionSets; let i = index'>
        {{set[0].question}}
        {{set[1].question}}
        <!-- <span *ngFor='let subset of set[i]; let j = index'>

        </span> -->
        <!-- {{set[0].input2}} -->
        <br>
        <!-- {{i}} -->
    </div>
</div>
