<div>
    <h1>Programming Competition Senior Project</h1>
    <br>
    <h2>Mark Simunov, Hayley Bonhage, Tim Campbell</h2>

    <p>This is a test page for the programming competition home page.
        This is a temporary page to be used as a proof of concept.
        It will be updated to look more like the actual page of the site 
        when we gain more familiarity with HTML, CSS, and TypeScript and 
        how they all interact with one another.
    </p>

    <p>Test change</p>

    <p>hello</p>

    <p>Below is the API we would want to use for the project. It's location on the home page is temporary for testing purposes.</p>
      
    <br>

    <label for="language">Select which language to run the program in </label>
    <br>
    <select name="language" id="language">
      <option value="java">Java</option>
      <option value="c">C</option>
      <option value="python2">Python 2</option>
      <option value="python3">Python 3</option>
    </select>
    <br>
    <br>

    <a target="_blank" rel="noopener noreferrer" id="escapeLink" 
      href="https://www.freeformatter.com/java-dotnet-escape.html">Format code for character escape in link here</a>

    <br>

    <textarea [(ngModel)]="code" id="code" name="code" placeholder="Paste formatted code here" cols="30" rows="10"></textarea>

    <br>

      <input type="text" id="stdin"/>
      <p id="credits"></p>
      <form id="form" (ngSubmit)="submitQuestion()">
        <button id="run">Run</button>
      </form>
      <code id="output"></code>



</div>
